/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_60keys.h"

// layer shortcuts, must match order in which they are defined below
#define BASE 0
#define WIN 1
#define NAV 2
#define NUM 3
#define CFG 4

// Behaviours
#define TAPPING_TERM_MS 280
#define QUICK_TAP_MS 200

// Tap dance
ZMK_BEHAVIOR(rpt_mo, tap_dance,
    tapping-term-ms = <TAPPING_TERM_MS>;
    bindings = <&key_repeat>, <&mo NAV>;
)

// Hold taps
ZMK_BEHAVIOR(hold_kp, hold_tap,
    flavor = "hold-preferred";
    tapping-term-ms = <TAPPING_TERM_MS>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&kp>, <&kp>;
)
#define BK_GUI &hold_kp LGUI BSPC
#define BK_CTRL &hold_kp LCTRL BSPC

ZMK_BEHAVIOR(tap_kp_bal, hold_tap,
    flavor = "tap-preferred";
    tapping-term-ms = <TAPPING_TERM_MS>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&kp>, <&kp>;
)
#define SPC_GUI &tap_kp_bal RGUI SPACE
#define SPC_CTRL &tap_kp_bal RCTRL SPACE

ZMK_BEHAVIOR(rpt, hold_tap,
    flavor = "hold-preferred";
    tapping-term-ms = <TAPPING_TERM_MS>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&kp>, <&key_repeat>;
)
#define RPT_RALT &rpt RALT 0

ZMK_BEHAVIOR(kp_rpt_nav, hold_tap,
    flavor = "hold-preferred";
    tapping-term-ms = <TAPPING_TERM_MS>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&kp>, <&rpt_mo>;
)
#define NAV_RPT_LALT &kp_rpt_nav LALT 0

ZMK_BEHAVIOR(lalt_rpt, macro,
    bindings = <&rpt LALT 0>;
)

ZMK_BEHAVIOR(hold_layer, hold_tap,
    flavor = "hold-preferred";
    tapping-term-ms = <TAPPING_TERM_MS>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&mo>, <&kp>;
)
#define DEL_NUM &hold_layer NUM DEL
#define RET_NAV &hold_layer NAV RET

// Mod morphs
ZMK_BEHAVIOR(excl_pct, mod_morph,
    bindings = <&kp EXCL>, <&kp PRCNT>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_BEHAVIOR(at_caret, mod_morph,
    bindings = <&kp AT>, <&kp CARET>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_BEHAVIOR(hash_amp, mod_morph,
    bindings = <&kp HASH>, <&kp AMPS>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_BEHAVIOR(dlr_star, mod_morph,
    bindings = <&kp DLLR>, <&kp STAR>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_BEHAVIOR(lround, mod_morph,
    bindings = <&kp LPAR>, <&kp LBKT>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_BEHAVIOR(rround, mod_morph,
    bindings = <&kp RPAR>, <&kp RBKT>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_BEHAVIOR(lcurly, mod_morph,
    bindings = <&kp LBRC>, <&kp LT>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_BEHAVIOR(rcurly, mod_morph,
    bindings = <&kp RBRC>, <&kp GT>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Num word
&num_word {
    layers = <NUM>;
};

// Caps word
&caps_word {
    continue-list = <UNDERSCORE BACKSPACE DELETE>;
};

// Sticky shift
&sk {
    release-after-ms = <2000>;
    quick-release;
};

#define combo_timeout 30
#define combo_timeout_long 60
#define combo_global_quick_tap 150
#define combo_global_quick_tap_long 300

/ {
    combos {
        compatible = "zmk,combos";
        combo_tab {
            timeout-ms = <combo_timeout>;
            global-quick-tap-ms = <combo_global_quick_tap>;
            key-positions = <LT1 LT2>;
            layers = <BASE WIN NAV NUM>;
            bindings = <&kp TAB>;
        };
        combo_shift_tab {
            timeout-ms = <combo_timeout>;
            global-quick-tap-ms = <combo_global_quick_tap>;
            key-positions = <LT2 LT3>;
            layers = <BASE WIN NAV NUM>;
            bindings = <&kp LS(TAB)>;
        };
        combo_esc {
            timeout-ms = <combo_timeout>;
            global-quick-tap-ms = <combo_global_quick_tap>;
            key-positions = <LT3 LT4>;
            layers = <BASE WIN NAV NUM>;
            bindings = <&kp ESC>;
        };
        combo_caps_word {
            timeout-ms = <combo_timeout_long>;
            key-positions = <RM2 RM3>;
            layers = <BASE WIN>;
            bindings = <&caps_word>;
        };
        combo_caps_lock {
            timeout-ms = <combo_timeout_long>;
            key-positions = <RM3 RM4>;
            layers = <BASE WIN>;
            bindings = <&kp CAPS>;
        };
        combo_num_word {
            timeout-ms = <combo_timeout>;
            global-quick-tap-ms = <combo_global_quick_tap>;
            key-positions = <LM2 LM3>;
            layers = <BASE WIN NUM>;
            bindings = <&num_word>;
        };
        combo_lshift {
            timeout-ms = <combo_timeout_long>;
            key-positions = <LM1 LM2>;
            layers = <BASE WIN NAV NUM>;
            bindings = <&kp LSHIFT>;
        };
        combo_sticky_lshift {
            timeout-ms = <combo_timeout_long>;
            global-quick-tap-ms = <combo_global_quick_tap>;
            key-positions = <LB2 LB3>;
            layers = <BASE WIN NAV NUM>;
            bindings = <&sk LSHIFT>;
        };
        combo_rshift {
            timeout-ms = <combo_timeout_long>;
            key-positions = <RM1 RM2>;
            layers = <BASE WIN NAV NUM>;
            bindings = <&kp RSHIFT>;
        };
        combo_LCFG {
            timeout-ms = <combo_timeout>;
            global-quick-tap-ms = <combo_global_quick_tap>;
            key-positions = <LN3 LN4>;
            layers = <BASE WIN NAV NUM>;
            bindings = <&tog CFG>;
        };
        combo_RCFG {
            timeout-ms = <combo_timeout>;
            global-quick-tap-ms = <combo_global_quick_tap>;
            key-positions = <RN3 RN4>;
            layers = <BASE WIN NAV NUM>;
            bindings = <&tog CFG>;
        };
        combo_LBASE {
            timeout-ms = <combo_timeout>;
            global-quick-tap-ms = <combo_global_quick_tap>;
            key-positions = <LB3 LB4>;
            layers = <BASE NAV NUM CFG>;
            bindings = <&to BASE>;
        };
        combo_RBASE {
            timeout-ms = <combo_timeout>;
            global-quick-tap-ms = <combo_global_quick_tap>;
            key-positions = <RB3 RB4>;
            layers = <BASE NAV NUM CFG>;
            bindings = <&to BASE>;
        };
        combo_NAV {
            timeout-ms = <combo_timeout>;
            global-quick-tap-ms = <combo_global_quick_tap>;
            key-positions = <RB1 RB2>;
            layers = <BASE WIN NAV>;
            bindings = <&tog NAV>;
        };
        combo_NUM {
            timeout-ms = <combo_timeout>;
            global-quick-tap-ms = <combo_global_quick_tap>;
            key-positions = <LB1 LB2>;
            layers = <BASE WIN NUM>;
            bindings = <&tog NUM>;
        };
    };

    behaviors {
        my_left_encoder: my_left_encoder {
            compatible = "zmk,behavior-sensor-rotate,alps,ec11";
            label = "LEFT_ENCODER";
            a-gpios = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            b-gpios = <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            #sensor-binding-cells = <0>;
            steps = <80>;
            bindings = <&kp C_VOL_UP>, <&kp C_VOL_DN>;
        };

        my_right_encoder: my_right_encoder {
            compatible = "zmk,behavior-sensor-rotate,alps,ec11";
            label = "RIGHT_ENCODER";
            a-gpios = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            b-gpios = <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            #sensor-binding-cells = <0>;
            steps = <80>;
            bindings = <&kp PG_UP>, <&kp PG_DN>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
//╭──────────┬──────────┬──────────┬──────────┬─────────────┬──────────╮                            ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
//│          │  1       │  2       │  3       │  4          │  5       │                            │  6       │  7       │  8       │  9       │  0       │          │
    &none      &kp N1     &kp N2     &kp N3     &kp N4        &kp N5                                  &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &none
//├──────────┼──────────┼──────────┼──────────┼─────────────┼──────────┤                            ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
//│          │  Q       │  W       │  E       │  R          │  T       │                            │  Y       │  U       │  I       │  O       │  P       │          │
    &none      &kp Q      &kp W      &kp E      &kp R         &kp T                                   &kp Y      &kp U      &kp I      &kp O      &kp P      &none
//├──────────┼──────────┼──────────┼──────────┼─────────────┼──────────┤                            ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
//│          │  A       │  S       │  D       │  F          │  G       │                            │  H       │  J       │  K       │  L       │  ; :     │  ' "     │
    &none      &kp A      &kp S      &kp D      &kp F         &kp G                                   &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp APOS
//├──────────┼──────────┼──────────┼──────────┼─────────────┼──────────┤──────────╮     ╭───────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
//│          │  Z       │  X       │  C       │  V          │  B       │  MUTE    │     │           │  N       │  M       │  , <     │  . >     │  /       │          │
    &none      &kp Z      &kp X      &kp C      &kp V         &kp B      &kp C_MUTE       &none       &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH   &none
//╰──────────┴──────────┼──────────┼──────────┼─────────────┼──────────┼──────────┼     ├───────────┼──────────┼──────────┼──────────┼──────────┼──────────┴──────────╯
//                      │          │  CTRL    │  ALT        │  BK/GUI  │  DEL/NUM │     │  ENTER/NAV│  SPC/GUI │  ALT     │  CTRL    │          │
                          &none      &kp LCTRL  NAV_RPT_LALT  BK_GUI     DEL_NUM          RET_NAV     SPC_GUI    RPT_RALT   &kp RCTRL  &none
//                      ╰──────────┴──────────┴─────────────┴──────────┴──────────╯     ╰───────────┴──────────┴──────────┴──────────┴──────────╯
            >;

            sensors {
                compatible = "zmk,keymap-sensors";
                sensors = <&my_left_encoder>;
                triggers-per-rotation = <20>;
            };
        };

        win {
            bindings = <
//╭───────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                           ╭──────────┬────────────┬────────────┬──────────┬──────────┬──────────╮
//│           │             │             │             │             │             │                           │          │            │            │          │          │          │
    &trans      &trans        &trans        &trans        &trans        &trans                                    &trans     &trans       &trans       &trans     &trans     &trans     
//├───────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                           ├──────────┼────────────┼────────────┼──────────┼──────────┼──────────┤
//│           │             │             │             │             │             │                           │          │            │            │          │          │          │
    &trans      &trans        &trans        &trans        &trans        &trans                                    &trans     &trans       &trans       &trans     &trans     &trans       
//├───────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                           ├──────────┼────────────┼────────────┼──────────┼──────────┼──────────┤
//│           │             │             │             │             │             │                           │          │            │            │          │          │          │
    &trans      &trans        &trans        &trans        &trans        &trans                                    &trans     &trans       &trans       &trans     &trans     &trans    
//├───────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤──────────╮     ╭──────────┼──────────┼────────────┼────────────┼──────────┼──────────┼──────────┤
//│           │             │             │             │             │             │          │     │          │          │            │            │          │          │          │
    &trans      &trans        &trans        &trans        &trans        &trans        &trans           &trans     &trans     &trans       &trans       &trans     &trans     &trans
//╰───────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────┼     ├──────────┼──────────┼────────────┼────────────┼──────────┼──────────┴──────────╯
//                          │             │   GUI       │             │  BK/CTRL    │          │     │          │  SPC/CTRL│            │  GUI       │          │
                              &trans        &kp LGUI      &trans        BK_CTRL       &trans           &trans     SPC_CTRL   &trans       &kp RGUI     &trans
//                          ╰─────────────┴─────────────┴─────────────┴─────────────┴──────────╯     ╰──────────┴──────────┴────────────┴────────────┴──────────╯
            >;

            sensors {
                compatible = "zmk,keymap-sensors";
                sensors = <&my_left_encoder>;
                triggers-per-rotation = <20>;
            };
        };

        nav {
            bindings = <
//╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮                             ╭───────────┬────────────┬───────────┬───────────┬───────────┬───────────╮
//│           │           │           │           │           │           │                             │           │            │           │           │           │           │
    &none       &trans      &trans      &trans      &trans      &trans                                    &trans      &trans       &trans      &trans      &trans      &none       
//├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                             ├───────────┼────────────┼───────────┼───────────┼───────────┼───────────┤
//│           │  F9       │  F10      │  F11      │  F12      │           │                             │  PGUP     │  HOME      │  ^        │  END      │  PGUP     │           │
    &none       &kp F9      &kp F10     &kp F11     &kp F12     &none                                     &kp PG_UP   &kp HOME     &kp UP      &kp END     &kp PG_UP   &none         
//├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                             ├───────────┼────────────┼───────────┼───────────├───────────┼───────────┤
//│           │  F5       │  F6       │  F7       │  F8       │           │                             │  PGDN     │  <-        │  v        │  ->       │  PGDN     │           │
    &none       &kp F5      &kp F6      &kp F7      &kp F8      &none                                     &kp PG_DN   &kp LEFT     &kp DOWN    &kp RIGHT   &kp PG_DN   &none   
//├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤───────────╮     ╭───────────┼───────────┼────────────┼───────────┼───────────┼───────────┼───────────┤
//│           │  F1       │  F2       │  F3       │  F4       │           │           │     │           │           │  INS       │  PSCR     │           │           │           │
    &none       &kp F1      &kp F2      &kp F3      &kp F4      &none       &trans            &trans      &none       &kp INS      &kp PSCRN   &trans      &trans      &none  
//╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼     ├───────────┼───────────┼────────────┼───────────┼───────────┼───────────┴───────────╯
//                        │           │           │           │           │  LSHFT    │     │           │           │            │           │           │
                            &none        &trans     &trans      &trans      &kp LSHFT         &trans      &trans      &trans       &trans      &trans
//                        ╰───────────┴───────────┴───────────┴───────────┴───────────╯     ╰───────────┴───────────┴────────────┴───────────┴───────────╯
            >;

            sensors {
                compatible = "zmk,keymap-sensors";
                sensors = <&my_left_encoder>;
                triggers-per-rotation = <20>;
            };
        };

        num {
            bindings = <
//╭──────────┬──────────┬───────────┬────────────┬────────────┬─────────────╮                           ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
//│          │          │           │            │            │             │                           │          │          │          │          │          │          │
    &none      &trans     &trans      &trans       &trans       &trans                                    &trans     &trans     &trans     &trans     &trans     &none      
//├──────────┼──────────┼───────────┼────────────┼────────────┼─────────────┤                           ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
//│          │  /       │  7        │  8         │  9         │  -          │                           │  &       │  ! %     │  @ ^     │  # &     │  $ *     │          │
    &none      &kp FSLH   &kp N7      &kp N8       &kp N9       &kp KP_MINUS                              &kp AMPS   &excl_pct  &at_caret  &hash_amp  &dlr_star  &none
//├──────────┼──────────┼───────────┼────────────┼────────────┼─────────────┤                           ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
//│          │  *       │  4        │  5         │  6         │  +          │                           │  _       │  ( [     │  ) ]     │  { <     │  } >     │  ` ~     │
    &none      &kp STAR   &kp N4      &kp N5       &kp N6       &kp PLUS                                  &kp UNDER  &lround    &rround    &lcurly    &rcurly    &kp GRAVE
//├──────────┼──────────┼───────────┼────────────┼────────────┼─────────────┤──────────╮     ╭──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
//│          │  0       │  1        │  2         │  3         │  ENTER      │          │     │          │  |       │  :       │  =       │  \ |     │          │          │
    &none      &kp N0     &kp N1      &kp N2       &kp N3       &kp RET       &trans           &trans     &kp PIPE   &kp COLON  &kp EQUAL  &kp BSLH   &trans     &none
//╰──────────┴──────────┼───────────┼────────────┼────────────┼─────────────┼──────────┼     ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┴──────────╯
//                      │           │  SPACE     │  .         │             │  DEL     │     │  RSHFT   │          │          │          │          │
                          &none       &kp SPACE    &kp DOT      &trans        &kp DEL          &kp RSHFT  &trans     &trans     &trans     &trans   
//                      ╰───────────┴────────────┴────────────┴─────────────┴──────────╯     ╰──────────┴──────────┴──────────┴──────────┴──────────╯
            >;

            sensors {
                compatible = "zmk,keymap-sensors";
                sensors = <&my_left_encoder>;
                triggers-per-rotation = <20>;
            };
        };

        cfg {
            bindings = <
//╭───────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                ╭──────────┬────────────┬────────────┬──────────┬──────────┬──────────╮
//│           │  BT1        │  BT2        │  BT3        │  BT4        │  BT5        │                                │          │            │            │          │          │          │
    &none       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                                   &none      &none        &none        &none      &none      &none      
//├───────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                ├──────────┼────────────┼────────────┼──────────┼──────────┼──────────┤
//│           │  BTCLR      │             │             │             │             │                                │          │            │            │          │          │          │
    &none       &bt BT_CLR    &none         &none         &none         &none                                          &none      &none        &none        &none      &none      &none        
//├───────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                ├──────────┼────────────┼────────────┼──────────┼──────────┼──────────┤
//│           │             │             │             │             │             │                                │          │            │            │          │          │          │
    &none       &to WIN       &to BASE      &none         &none         &none                                          &none      &none        &none        &none      &none      &none     
//├───────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────╮     ╭────────────┼──────────┼────────────┼────────────┼──────────┼──────────┼──────────┤
//│           │             │             │             │             │             │             │     │            │          │            │            │          │          │          │
    &none       &none         &none         &none         &none         &none         &none                 &none      &none      &none        &none        &none      &none      &none 
//╰───────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼     ├────────────┼──────────┼────────────┼────────────┼──────────┼──────────┴──────────╯
//                          │             │  RESET      │             │             │  BOOTLDR    │     │  BOOTLDR   │          │            │  RESET     │          │
                              &none         &sys_reset    &none         &none         &bootloader         &bootloader  &none      &none        &sys_reset   &none 
//                          ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯     ╰────────────┴──────────┴────────────┴────────────┴──────────╯
            >;

            sensors {
                compatible = "zmk,keymap-sensors";
                sensors = <&my_left_encoder>;
                triggers-per-rotation = <20>;
            };
        };
    };
};
